@import url("https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");

body {
  margin: 0;
  font-family: "Lekton", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: "Lekton", sans-serif;
}

.root {
  height: 100vh;
}

#timer {
  border: 3px dashed transparent;
}

#timer:hover {
  border: 3px dahsed pink;
  animation: bordercolors 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s infinite;
  cursor: pointer;
}

.App {
  height: 100vh;
  display: flex;
  background-color: whitesmoke;
  opacity: 1;
  background-image: radial-gradient(cyan 1px, transparent 1px),
    radial-gradient(pink 1px, whitesmoke 1px);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.header {
  font-family: "UnifrakturMaguntia", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4vh;
  color: #333;
  height: 9vh;
  width: 100%;
}

.questions {
  display: flex;
  height: 60vh;
  width: 100%;
}

.column {
  width: 20%;
}

.column-header {
  display: flex;
  color: #111;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  justify-content: center;
  height: 15%;
  background-color: whitesmoke;
  opacity: 1;
  background-image: radial-gradient(cyan 1px, transparent 1px),
    radial-gradient(pink 1px, whitesmoke 1px);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}

.question {
  height: 15%;
  background-color: whitesmoke;
  opacity: 1;
  background-image: radial-gradient(#727272 0.5px, whitesmoke 0.5px);
  background-size: 10px 10px;
  display: flex;
  color: black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  border: white solid 3px;
  font-size: 2rem;
}

.question:hover {
  animation: bordercolors 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s infinite;
  color: #111;
  font-size: 3rem;
  background-color: whitesmoke;
  opacity: 1;
  background-image: radial-gradient(cyan 1px, transparent 1px),
    radial-gradient(pink 1px, whitesmoke 1px);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}

.teams {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  color: #111;
  padding: 1rem;
}

.score-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 4vh;
  user-select: none;
  pointer-events: none;
}

.score-negative {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 4vh;
  user-select: none;
  pointer-events: none;
  color: red;
}

.question-modal {
  color: #111;
  font-size: 4rem;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: whitesmoke;
  opacity: 1;
  background-image: radial-gradient(cyan 1px, transparent 1px),
    radial-gradient(pink 1px, whitesmoke 1px);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
  height: 100%;
  width: 100%;
}

.question-modal-question {
  padding: 2rem 5rem;
  font-size: 2.5rem;
  text-align: center;
}

.show-answer-button {
  font-family: Lekton;
  background-color: whitesmoke;
  opacity: 1;
  background-image: radial-gradient(#727272 0.5px, whitesmoke 0.5px);
  background-size: 10px 10px;
  font-size: 3rem;
  color: #111;
  border: 3px dashed pink;
  border-radius: 5px;
}

.show-answer-button:hover {
  animation: bordercolors 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s infinite;
}

.close-modal-button {
  background-color: whitesmoke;
  opacity: 1;
  background: radial-gradient(
      circle,
      transparent 20%,
      whitesmoke 20%,
      whitesmoke 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        whitesmoke 20%,
        whitesmoke 80%,
        transparent 80%,
        transparent
      )
      10px 10px,
    linear-gradient(#727272 0.8px, transparent 0.8px) 0 -0.4px,
    linear-gradient(90deg, #727272 0.8px, whitesmoke 0.8px) -0.4px 0;
  background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
  font-size: 3rem;
  color: #111;
  border: 3px dashed pink;
}

.close-modal-button:hover {
  animation: bordercolors 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s infinite;
}

.question-modal-answer {
  text-align: center;
  font-size: 5rem;
}

.hell-yeah-button {
  font-family: "Lekton", sans-serif;
  background-color: whitesmoke;
  opacity: 1;
  background: radial-gradient(
      circle,
      transparent 20%,
      whitesmoke 20%,
      whitesmoke 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        whitesmoke 20%,
        whitesmoke 80%,
        transparent 80%,
        transparent
      )
      10px 10px,
    linear-gradient(#727272 0.8px, transparent 0.8px) 0 -0.4px,
    linear-gradient(90deg, #727272 0.8px, whitesmoke 0.8px) -0.4px 0;
  background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
  font-size: 3rem;
  color: #111;
  border: 3px dashed pink;
}

.hell-yeah-button:hover {
  animation: bordercolors 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s infinite;
}

.score-last-updated {
  color: #111;
  font-size: 1rem;
  width: 100%;
  text-align: center;
}

button {
  font-family: "Lekton", sans-serif;
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem;
}

.answer-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.reset-score-button {
  border: 3px dashed transparent;
}

.reset-score-button:hover {
  background-color: red;
  color: whitesmoke;
  animation: bordercolors 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s infinite;
}

.team-selected {
  background-color: whitesmoke;
  opacity: 1;
  background-image: radial-gradient(#727272 0.5px, whitesmoke 0.5px);
  background-size: 10px 10px;
  border: 3px dashed transparent;
  animation: bordercolors 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s infinite;
}

@keyframes bordercolors {
  0% {
    border: 3px dashed pink;
    transition: 2s linear;
    border-radius: 5px;
  }
  20% {
    border: 3px dashed yellow;
    transition: 2s linear;
    border-radius: 5px;
  }
  40% {
    border: 3px dashed orange;
    transition: 2s linear;
    border-radius: 5px;
  }
  60% {
    border: 3px dashed red;
    transition: 2s linear;
    border-radius: 5px;
  }
  80% {
    border: 3px dashed fuchsia;
    transition: 2s linear;
    border-radius: 5px;
  }
  100% {
    border: 3px dashed cyan;
    transition: 2s linear;
    border-radius: 5px;
  }
}

.audio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 3%;
  right: 3%;
  border: 3px dashed transparent;
}

.audio:hover {
  animation: bordercolors 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s infinite;
}
